<template>
  <v-app :style="{ backgroundColor: RouteBackgroundColor }">
    <router-view />
  </v-app>
</template>

<script>
export default {
  computed: {
    RouteBackgroundColor() {
      const routeColor = this.$route.matched[0].meta.backgroundColor;
      const defaultBackgroundColor = "#F8FFF9"; // Default background color
      // Check if the route has a meta field called "backgroundColor"
      if (routeColor) {
        return routeColor;
      } else {
        return defaultBackgroundColor;
      }
    },
  },
};
</script>